body {
  padding-bottom: 40px;
  background-color: #eee;
}
.container{
	text-align: center;
}
#nav_bar{
	border-radius:0px;
}

.table-striped{
	text-align: left;
}

#container_login{
	text-align:center;
}

#container_createC{
	text-align:center;
	max-width: 40%;
	background-color: #fff;
}

#container_register{
	text-align:center;
}

#challenges_home{
	max-width: 40%;
	margin: auto;
}

#code{
	width: 100%;
}

#lang{
	width: 200px;
}

#type{
	width: 200px;
}

#diffic{
	width: 200px;
}

#description{
	width: 100%;
}

#challenges{
	max-width: 40%;
	margin: auto;
}

#pagination_home{
	alignment-baseline: center;
}
.main-login{
  margin: auto;
  background-color: #fff;
  max-width: 30%;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);

}
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-inline {
  max-width: 100%;
  padding: 50px;
  margin: auto;
  text-align: left;
  
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="username"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
p{
	margin: 10px;
}

